@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');



@import "tailwindcss";

:root {
  --clr-white: #ffffff;
  --clr-black: #0f172a;
  --clr-primary: #07f49e;
  --clr-secondary: #42047e;

  --gradient-primary: linear-gradient(135deg, #07f49d1f, #41047e1f);

  --glow-gradient: yellow, red, blue;

}

.dark{
  background-color: var(--clr-black);
  color: var(--clr-white);
}

body {
  max-width: 1920px;
  margin: 0 auto;
   font-family: "Lexend", sans-serif;

}